<p>payments works!</p>
<div class="ed-overlay" *ngIf="visible">
    <div class="ed-modal">
        <header class="ed-header">
            <h3>Payment of {{data?.name}}</h3>
            <button mat-icon-button (click)="cancel()" aria-label="close">
                <mat-icon>close</mat-icon>
            </button>
        </header>
        <ng-container *ngIf="data.paymentDetails?.ttl?.totalRemaining != 0">
            <form class="ed-form" [formGroup]="form">
                <div class="col-md-12 row" style="margin-top: 6px;display: flex;justify-content: space-evenly;">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Full Amount</mat-label>
                            <input matInput formControlName="fullAmount" type="number" />
                            <mat-error *ngIf="form.get('fullAmount')?.hasError('required')">Required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Paid Amount</mat-label>
                            <input matInput formControlName="paidAmount" type="number" />
                            <mat-error *ngIf="form.get('paidAmount')?.hasError('required')">Required</mat-error>
                            <mat-error *ngIf="form.get('paidAmount')?.hasError('overpay')"> Varify Due Amount! </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Total Paid</mat-label>
                            <input matInput formControlName="ttlPaid" type="number" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Remaining</mat-label>
                            <input matInput formControlName="remainingAmount" />
                        </mat-form-field>
                    </div>
                    <!-- next call date -->
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Next Payment Date</mat-label>
                            <input matInput [matDatepicker]="paymentDatePicker" formControlName="next_payment_date" />
                            <mat-datepicker-toggle matIconSuffix [for]="paymentDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDatePicker></mat-datepicker>
                            <mat-error *ngIf="form.get('next_payment_date')?.hasError('required')">Required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3 mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <!-- payment_mode ENUM('cash','upi','card','bank_transfer','cheque') NOT NULL, -->
                            <mat-label>paymentMode</mat-label>
                            <mat-select formControlName="paymentMode">
                                <mat-option value="cash">Cash</mat-option>
                                <mat-option value="upi">UPI</mat-option>
                                <mat-option value="card">Card</mat-option>
                                <mat-option value="bank_transfer">Bank Transfer</mat-option>
                                <mat-option value="cheque">Cheque</mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('paymentMode')?.hasError('required')">Payment Mode is
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Transaction Id</mat-label>
                            <input matInput formControlName="transactionId" />
                            <mat-error *ngIf="form.get('transactionId')?.hasError('required')">Required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <footer class="ed-footer">
                    <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
                    <button mat-flat-button color="primary" type="button" (click)="save()">Save</button>
                </footer>
            </form>
        </ng-container>
        <div class="reports-table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="fw-semibold main-color d-flex align-items-center justify-content-center">Receipt No.</th>
                        <th class="fw-semibold gray-color">Amount</th>
                        <th class="fw-semibold gray-color">Transactions Id</th>
                        <th class="fw-semibold gray-color">Added Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data?.paymentDetails?.data || []">
                        <td class="black-color fw-semibold d-flex align-items-center justify-content-center">biz-{{ item.id }}</td>
                        <td class="gray-color fw-semibold">
                            <div class="d-flex align-items-center justify-content-center">
                                {{ item.payment_mode | titlecase }} <br />
                                {{ item.payment_amount }} 
                            </div>
                        </td>
                        <td class="gray-color fw-semibold">
                            {{ item.transaction_id }} <br />
                            {{ item.payment_mode }} <br />
                            <ng-container *ngIf="item.payment_mode == 'cheque';else showStatus">
                                <select (change)="updateStatus(item,$event)" #paymentSt [value]="item.status" style="color: black;height: 25px;background-color: green;border-radius: 5px;overflow: hidden;" [ngStyle]="{'background-color': ( item.status == 1 ? 'green' : 'red' )}">
                                    <option value="1">Complete</option>
                                    <option value="2">Panding</option>
                                </select>
                            </ng-container>
                            <ng-template #showStatus>
                                {{ item.status == 1 ? 'Complete' : 'Panding' }}
                            </ng-template>
                            
                            
                        </td>
                        <td><span class="fw-semibold">{{ item.created_at }}</span></td>
                    </tr>
                    <tr *ngIf="data?.paymentDetails?.data && (data.paymentDetails?.ttl?.totalRemaining == 0)" style="border-top: 2px solid #ccc;">
                        <td colspan="" class="text-center">Received</td>
                        <td colspan="" class="text-center gray-color fw-semibold">{{data.paymentDetails?.ttl?.totalPaid}}</td>
                        <td colspan="" class="text-center">Remaining</td>
                        <td colspan="" class="text-center gray-color fw-semibold">{{data.paymentDetails?.ttl?.totalRemaining}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>